table{
  border: 1px solid;
  padding: 15px;
}

td{
  text-align: center;
  vertical-align: center;
  height: 75px;
  width: 100px;
  background-color: antiquewhite;
  font-size: 20px;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#game{
  padding: 35px;
}
#buttons{
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reset-button,#scramble-button{
  margin-bottom: 20px;
  width: 100px;
}
